*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  --sectionMargin:2rem;
  --sectionPadding:1rem;
  --titleMargin:2rem;
}

header {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center; 
  padding:20px 0px;
  position: absolute;
  top:0;
}
nav {
  width: 100%;
  border-radius: 99rem;
  background-color: #801c23;
  justify-content: center;
  display: flex;
  color:white;
  padding:15px 0px;
  /* margin-inline:var(--sectionPadding); */
}
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  padding-inline:1rem;
  position: relative;
}
.nav-title{
  font-size:23px;
}
.navbar-links {
  position: absolute;
  display: flex;
  flex-direction: column;
  display: none;
  background-color: #801c23;
  right:1rem;
  top:2rem;
  padding:20px;
  gap:1rem;
  text-decoration: underline;
  transition: 0.4s ease;
}
.navbar-links.opened {
  display: flex;
}
.navbar.closed{
  height:100vh;
}
.link{
  text-decoration: none;
  color:white;
  font-size:1.1rem;
}
/* Styling the hamburger lines */
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: white;
  transition: all 0.5s ease-out;
}
.menu-btn.close {
transform: rotate(180deg);
}
/* Styling the three lines to make it an X */
.menu-btn.close .btn-line:nth-child(1) {
transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
transform: rotate(-45deg) translate(7px, -6px);
}

.hero-section{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image:url("/images/hero-background.png");
  height:100dvh;
}
.hero-wrapper{
  width: 100%;
  padding-inline: var(--sectionPadding);
  display: flex;
  align-items: end;
  max-width: 1280px;
  margin-bottom: 4rem;
}
.hero-content{
  display: flex;
  flex-direction: column;
  gap:1rem;
  color:rgb(255, 255, 255);
}
.hero-title{
  font-size:3rem;
  font-weight: bold;
}
.hero-btn{
  padding:15px 50px;
  border:none;
  border-radius:2rem;
  font-size:18px;
  background-color: transparent;
}
.white{
  outline:1px solid white;
  color:white;
}
.black{
  outline:1px solid black;
  color:black;
}
.hs-section{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: var(--sectionMargin);
  background-color: white;
}
.first{
  padding-top: 3rem;
}
.hs-wrapper{
  max-width: 1280px;
  width: 100%;
  padding-inline: var(--sectionPadding);
}
.section-title{
  margin-bottom: var(--titleMargin);
  background-color: #801c23;
  color: white;
  padding: 10px;
  border-radius: 9rem;
}
.center{
  text-align: center;
}
.p-section-title{
  padding-top:var(--sectionMargin);
}
.policy{
  color: black;
  display: flex;
  flex-direction: column;
  gap:1rem;
  border: 2px solid goldenrod;
  box-shadow: 0px 0px 10px 2px rgb(0,0,0,0.1);
  border-radius: 10px;
  padding:10px;
  background-color: white;
}
.policies-container{
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.policy-title{
  
}

.policy-desc{}
.my-policies{
  margin-bottom: var(--sectionMargin);
  background-color:#801c23;
}

.service{
  box-shadow: 0px 0px 10px 2px rgb(0,0,0,0.1);
  padding:20px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap:1rem;
  background-color: white;
}
.service-img{
  width: 100%;
  border-radius: 15% 30%;
  border: 3px solid goldenrod;
  /* border: 3px solid #1C8079; */
}
.service-title{text-align: center;}
.service-desc{text-align: center;}
.services-container{
  display: flex;
  flex-direction: column;
  gap:2rem;
  margin-bottom: var(--sectionMargin);
}

.pricing{
  margin-bottom: var(--sectionMargin);
}
.tiers-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap:1rem;
  justify-content: center;
}
.tiers-wrapper{
  display: flex;
  flex-direction: column;
}
.tier{
  display: flex;
  flex-direction: column;
  gap:1rem;
  border: none;
  padding:10px;
  border-radius: 9px;
  border-top: .5rem solid #801c23;
  background-color: white;
  box-shadow: 0px 0px 10px 2px rgb(0,0,0,0.1);
}

.tier-price{
  font-weight: bold;
  font-size: 20px;
}
.tier-desc-container{
  display: flex;
  flex-direction: column;
  gap:.5rem;
}
.tier-desc{
  display: flex;
  gap:.5rem;
}
.check{
  width: 18px;
}